<head>
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class=“container”>
        <h2>Web Application</h2>
        
        <form action="/gemini" method="post">
            <input type="submit" value="Chatbot by Gemini">
        </form>

        <form action="/paynow" method="post">
            <input type="submit" value="Transfer Money">
        </form>

        <form action="/telegram" method="post">
            <input type="submit" value="Start Telegram">
        </form>

        <form action="/user_log" method="post">
            <input type="submit" value="User Log">
        </form>      
        
        <form action="/delete_log" method="post">
            <input type="submit" value="Delete User Log">
        </form>

        <form action="/logout" method="post">
            <input type="submit" value="Log Out">
        </form>
    </div>
</body>